<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @order.user.email %> !</h1>
    <p> ta commande est bien passée </p>
    <strong>Voici le détail de ta commande :</strong>
    <ul>
      <%@order.items.each do |item| %>

      <li style= "list-style-type: none; margin-bottom: 12px">
      <%=item.title%>, <%=item.price %> €</li><br>

      <% end %>
    </ul>
    <p>En vous remerciant grandement pour votre achat et en espérant vous revoir prochainement sur notre site !</p>
  </body>
</html>