<div class="container h-100 py-5">
    <div class="mb-5">
      <a href="/items">Retour</a>
      <br>
      <br>
      <h3 class="mb-0 text-black">Modifier mon profil</h3>
    </div>

    <div class="card rounded-3 mb-4">
      <div class="card-body p-1">
        <div class="row justify-content-around align-items-center h-100">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-10">
                  <form>
                    <fieldset>
                      <div class="form-group">
                        <label for="exampleInputEmail1" class="form-label mt-4">Adresse e-mail</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1" class="form-label mt-4">Nouveau mot de passe</label>
                        <small>
                        <i>(laisser vide si vous ne souhaitez pas le modifier)</i>
                        </small>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        <small id="emailHelp" class="form-text text-muted">6 caractères minimum</small>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1" class="form-label mt-4">Confirmation du mot de passe</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1" class="form-label mt-4">Mot de passe actuel</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        <small id="emailHelp" class="form-text text-muted">(par sécurité, votre mot de passe actuel est requis pour confirmer vos changements)</small>
                      </div>
                    </fieldset>
                    <br>
                  </form>
                  <div class="">
                    <button type="button" class="btn btn-primary" href="/mon_compte/edit">Modifier mon profil</button>
                    <br>
                    <br>
                    <h6> Je souhaite supprimer mon compte définitivement:</h6>
                    <button type="button" class="btn btn-danger" href="/mon_compte/delete">Supprimer mon profil</button>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
