
<div class="card h-100">
  <!-- Product image-->
    <%= image_tag item.image_url, class:"card-img-top mb-5 mb-md-0"%>
  <!-- Product details-->
  <div class="card-body p-4">
    <div class="text-center">
      <!-- Product name-->
      <h5 class="fw-bolder"><%= item.title %></h5>
      <!-- Product price-->
      <%= item.price %> €
    </div>
  </div>
    <!-- Product actions-->
  <div class="d-flex justify-content-evenly flex-wrap py-4 border-top-0 bg-transparent">
    <div class="text-center">
      <%= link_to 'Détails', item_path(item), class:"btn btn-outline-info my-2" %>
    </div>
    <div class="text-center my-2">
      <span class= "text-success my-auto">Produit déja ajouté</span>
    </div>
  </div>
</div>

